<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/default/header::header(null,null)"></div>
<body>
	<div class="main-content index-page clearfix">
		<div class="post-lists">
			<div class="post-lists-body">
				<div class="post-list-item" th:each="article: ${articles.list}">
					<div class="post-list-item-container">
						<div class="item-label">
							<div class="item-title">
								<a th:href="${commons.permalink(article)}"
									th:text="${article.title + ' -- ' + article.hits + ' hits'}"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="lists-navigator clearfix">
			<div th:replace="comm/macros::pageNav(${articles},'←','→','page')"></div>
		</div>
	</div>
</body>
<div th:replace="themes/default/footer::footer"></div>
</html>
