<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:with="title='文章管理',active='article'">
<div th:replace="themes/default/header::header(null,null)"></div>
<div>
	<table>
		<thead>
			<tr>
				<th width="35%">待办事项</th>
				<th width="15%">截止时间</th>
				<th>相关人</th>
				<th>创建时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="item : ${pageInfo.list}">
				<tr th:id="${item.itemId}">
					<td th:text="${item.cont}"></td>
					<td><th:block
							th:text="${commons.fmtdate(item.deadLine, 'yyyy-MM-dd HH:mm:ss')}" /></td>
					<td><th:block th:text="${item.person}" /></td>
					<td><a th:href="@{'/admin/article/'+${item.itemId}}"
						class="btn btn-primary btn-sm waves-effect waves-light m-b-5"><i
							class="fa fa-edit"></i> <span>编辑</span></a> <a
						href="javascript:void(0)"
						th:onclick="'delPost('+${item.itemId}+');'"
						class="btn btn-danger btn-sm waves-effect waves-light m-b-5"><i
							class="fa fa-trash-o"></i> <span>删除</span></a></td>
				</tr>
			</th:block>
		</tbody>
	</table>
</div>
<div th:replace="comm/macros :: pageAdminNav(${pageInfo})"></div>
</html>