<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.blog.website.dao.ItemVoMapper">
	<resultMap id="BaseResultMap" type="com.my.blog.website.model.Vo.ItemVo">
		<id column="itemId" jdbcType="INTEGER" property="itemId" />
		<result column="cont" jdbcType="VARCHAR" property="cont" />
		<result column="deadline" jdbcType="VARCHAR" property="deadLine" />
		<result column="creat_time" jdbcType="INTEGER" property="creatTime" />
		<result column="person" jdbcType="VARCHAR" property="person" />
		<result column="priority" jdbcType="VARCHAR" property="priority" />
		<result column="remind_time" jdbcType="INTEGER" property="remindTime"/>
	</resultMap>
	
	<!-- 查 -->
	<select id="selectAll" resultMap="BaseResultMap">
		select * from t_items ORDER by creat_time DESC 
	</select>
	
	<!-- 删 -->
	<delete id="deleteByItemId" parameterType="java.lang.Integer">
		delete from t_items where itemId = #{itemId,jdbcType=INTEGER}
	</delete>
	
	<!-- 增 -->
	<insert id="insert" parameterType="com.my.blog.website.model.Vo.ItemVo"
		useGeneratedKeys="true" keyProperty="itemId">
		insert into t_items ( cont ,deadline, creat_time, person,priority,remind_time)
		values (#{cont,jdbcType=VARCHAR}, #{deadLine,jdbcType=VARCHAR},
		#{creatTime,jdbcType=INTEGER},#{person,jdbcType=VARCHAR},#{priority,jdbcType=VARCHAR},
		#{remindTime,jdbcType=INTEGER})
	</insert>
	
	<!-- 改 -->
	<update id="updateByItemId" parameterType="map">
		update t_items
		<set>
			<if test="itemVo.cont != null">
				cont = #{itemVo.cont,jdbcType=VARCHAR},
			</if>
			<if test="itemVo.deadLine != null">
				deadline = #{itemVo.deadLine,jdbcType=VARCHAR},
			</if>
			<if test="itemVo.person != null">
				person = #{itemVo.person,jdbcType=VARCHAR},
			</if>
			<if test="itemVo.priority != null">
				priority = #{itemVo.priority,jdbcType=VARCHAR},
			</if>
			
				remind_time = #{itemVo.remindTime,jdbcType=INTEGER},
		</set>
		where itemId = #{itemVo.itemId,jdbcType=INTEGER}
	</update>
	
</mapper>